/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(180, 205, 240);
}

h1{
    background-color: rgb(0, 81, 186); 
    padding: 23px;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0rem;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 81, 186);
    border:none;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: #dbc6c6;
    border:none;
}

input {
    color: rgb(0, 81, 186);
    background-color: white;
    border: solid rgb(0, 81, 186);
}

select {
    color: rgb(0, 81, 186);
    background-color: white;
    border: solid rgb(0, 81, 186);
}