<html>
    <body>
        <h1>LifeTracker</h1>
        <ul>
            <li><a routerLink="/budget">Budget Tracker</a></li>
            <li><a routerLink= "/grocery">Grocery List</a></li>
            <li><a routerLink="/weight">Weight Tracker</a></li>
        </ul>
        <h5>Welcome to LifeTracker. We are here to help you.</h5>

        <!-- SOURCE: ku.edu -->
        <section class="box-wrapper">
            <div class="box-container">
                <div class="box">
                    <div class="box-img-container"><a routerLink="/budget" title="Budget Tracker"><img class="box-img" src="/../assets/img/budget.jpg" style="max-width: 600px;" /> </a></div>
            
                    <div class="box-title">
                        <!-- img SOURCE: unsplash.com -->
                        <h4><a routerLink="/budget" title="Budget Tracker">Budget Tracker</a></h4>
                    </div>
         
                    <div class="box-text">
                        <p><a routerLink="/budget" title="Budget Tracker">Budget Tracker will help you to keep track of your income and expenses. You can also set how much you want to save.</a></p>
                    </div>
                </div>
            
                <div class="box">
                    <!-- img SOURCE: unsplash.com -->
                    <div class="box-img-container"><a routerLink= "/grocery" title="Grocery List"><img class="box-img" src="/../assets/img/grocery.jpg" style="max-width: 600px;" /> </a></div>
            
                    <div class="box-title">
                        <h4><a routerLink= "/grocery" title="Grocery List">Grocery List</a></h4>
                    </div>
            
                    <div class="box-text">
                        <p><a routerLink= "/grocery" title="Grocery List">Grocery List will make sure that you don't miss any groceries that you need.</a></p>
                    </div>
                </div>
            
                <div class="box">
                    <!-- img SOURCE: unsplash.com -->
                    <div class="box-img-container"><a routerLink="/weight" title="Weight Tracker"><img class="box-img" src="/../assets/img/weight.jpg" style="max-width: 600px;" /> </a></div>
            
                    <div class="box-title">
                        <h4><a routerLink="/weight" title="Weight Tracker">Weight Tracker</a></h4>
                    </div>
            
                    <div class="box-text">
                        <p><a routerLink="/weight" title="Weight Tracker">Weight Tracker will help you keep track of your weight and help you navigate towards your goal. Also provides a BMI option for your weight and your height.</a></p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
