h1 {
    margin-bottom: 2rem; 
}

.info{
    align-content: center;
}
.row{
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
hr{
    border: 1px  solid rgb(0, 81, 186);
    background: black;
}
label{
    font-size: 16px;
}
input[type=number]{
    width: 9rem;
    height: 2rem;
}
input[type=text]{
    width: 9rem;
    height: 2rem;
}
.expense select{
    width: 9rem;
    height: 2rem;
}
.expense input[type=number]{
    width: 9rem;
    height: 2rem;
}
button{
    width: 5rem;
    height: 2.05rem;
    border-radius: 4px;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: #414141;
    border:none;
}

.chart{
position: relative;
width: 100%;
align-content: center;
}
.chart:after{
    content: "";
    clear: both;
    display: table;
}
.ichart{
    align-content: center;
    width: 40%;
}
.echart{
    align-content: center;
    width: 40%;
}
.saved{
    text-align: center;
}
.good{
   color: rgb(0,81,186);
   font-weight: bold; 
}
.bad{
    color: rgb(232,0,13);
    font-weight: bold;
}