<app-header></app-header>
<h1>Weight Tracker</h1>

<div class="List">
    <ul>
        <div class = "row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <p>Weight &nbsp;<input type="number" min="0" (keyup)="updateIni($event)" id="intWeight" size="3" /> &nbsp;lb</p>
            </div>
            <div class="col-md-4">
                <p>Goal Weight  &nbsp;<input type="number" min="0" (keyup)="updateG($event)" id="goalWeight" size="3" /> &nbsp;lb</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class = "row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <p>Current Weight  &nbsp;<input type="number" min="0" (keyup)="updateC($event)" id="weightIn" size="3" /> &nbsp;lb</p>
            </div>
            <div class="col-md-4">
                <p>Height  &nbsp;<input type="number" min="0" (keyup)="updateH($event)" id="heightIn" size="3" /> &nbsp;in</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </ul>
    <div class = buttons>
        <button (click)="doSubmit()">Track Weight</button>
        <button (click)="BMI()">Calculate BMI</button>
    </div>
    <br>
    <div class = "values">
        <div class="Initial" id="ini">Initial Weight: 0</div>
        <div class="goal" id="goalW">Goal Weight: 0</div>
        <div class="Current" id="currentW">Current Weight: 0</div>
        <div class="difference" id="differ">Weight Difference: 0</div>
        <div class="Height" id="height">Height: 0</div>
    </div>
    <div class="Chart" id="chart" *ngIf = 'wvalid'>
        <br>
        <h3>Progress of  Your Weight</h3>
        <br>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <div class="wchart">
                    <ngx-charts-line-chart 
                        [results]="weightData" 
                        [scheme]="color" 
                        [view]="[500,350]" 
                        [gradient]="gradient" 
                        [xAxis]="xAxis" 
                        [yAxis]="yAxis" 
                        [legend]="legend" 
                        [timeline]="timeline" 
                        [showYAxisLabel]="showYAxisLabel" 
                        [showXAxisLabel]="false" 
                        [yAxisLabel]="yAxisLabel"
                        [yScaleMin]="yScaleMin" 
                        [yScaleMax]="yScaleMax">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
