h1 {
    margin-bottom: 2rem; 
}

/* p {
    text-align: center;
} */

legend {
	padding: 7px;
	background-color: rgb(0, 81, 186);
	color: white;
	font-weight: bold;
}

input {
	margin-left: 1rem;
}


.accordion{
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	transition: 0.2s;
}

.accordion-content{
	width: 100%;
	padding: 0 1px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.active, .accordion:hover{
	background-color: #ccc;
}

.accordion:after{
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after{
	content: '\2212';
}

.accordion span{
	margin-right: 1%;
}

.accordion-content div span{
	display: table-cell;
	width: 21.8%;
}

label{
	margin: 2% 1% 0 2%;
}

#modify-item fieldset{
	margin-top: 3%;
}

fieldset{
	/* border: 2px solid rgb(0, 81, 186); */
	width: 80%;
	margin-top: 5px;
	margin-left: 2rem;
}


button{
	float: right;
	margin-right: 3%;
	width: 70px;
	height: 50px;
	border-radius: 10px;
	background: linear-gradient (gray);
	box-shadow: inset 1px blue;
	transition: 0.4s ease-in;
}

button:hover{
	background: linear-gradient(white);
	background-color: #000000;
	color: #ffffff;
}
button:active{
	position: relative;
}

#action-screen{
	padding: 5% 15%;
	position: relative;
}

#action-screen fieldset{
	position: absolute;
	top: 2%;
	left: 3%;
}
#edition-selection{
	display: flex;
	margin: 3% 20%;
}
#edition-selection div{
	margin: auto;
}